<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBr3MI76EoSPYuOBznMCVdN6yQB7Qhp0dc</string>
	<key>GCM_SENDER_ID</key>
	<string>122637037444</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.naraTest</string>
	<key>PROJECT_ID</key>
	<string>nara-39cb7</string>
	<key>STORAGE_BUCKET</key>
	<string>nara-39cb7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:122637037444:ios:55390864575028fff8f7d1</string>
</dict>
</plist>